body{
    padding: 10px;
    box-sizing: border-box;
   
}

.maindiv{
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 5px;
    border: 1px solid grey;
    flex-wrap: wrap;
}

.div1{
    border: 1px solid red;
    padding: 5px;
    /* height: 300px; */
    max-width: 500px;
    min-width: 200px;
}

.div2{
    border: 1px solid green;
    padding: 5px;
    /* height: 300px; */
    width: 300px;
    /* flex-basis: 50%; */
}

.div3{
    border: 1px solid blue;
    padding: 5px;
    /* height: 300px; */
    width: 300px;
    display: flex;
    flex-direction: row;
    gap: 2px;
    flex-wrap: wrap;
}

.div4{
    border: 1px solid maroon;
    padding: 5px;
    /* height: 300px; */
    width: 300px;
}

.div3>p{
    border: 1px solid black;
}
